---
import Calendar from "../../../public/images/icons/sobre-mi/Calendar.astro";
import Exp from "../../../public/images/icons/sobre-mi/Exp.astro";
import Graduation from "../../../public/images/icons/sobre-mi/Graduation.astro";
import Location from "../../../public/images/icons/sobre-mi/Location.astro";
import aboutMe from "../../moks/SobreMi.json";
---

<div
    class="flex flex-col items-center justify-items-center mt-10 pb-14 gap-5
            md:flex md:flex-row md:flex-wrap md:gap-10"
>
    <!-- Div for general info exp -->
    <div
        class="w-96 h-32 bg-[#E8D7F1] rounded-2xl shadow-[3px_6px_4px_0px] shadow-[#A167A5]/50 grid grid-rows-2 items-center px-7 pb-5"
    >
        <div class="flex gap-4">
            <Exp />
            <h4 class="text-3xl text-[#0E273C]">{aboutMe[0].title}</h4>
        </div>

        <p class="text-xl text-[#333333]">
            {aboutMe[0].description}
        </p>
    </div>

    <!-- Div for general info graduation -->
    <div
        class="w-96 h-32 bg-[#E8D7F1] rounded-2xl shadow-[3px_6px_4px_0px] shadow-[#A167A5]/50 grid grid-rows-2 items-center px-7 pb-5"
    >
        <div class="flex gap-4 text-[#0E273C]">
            <Graduation />
            <h4 class="text-3xl">{aboutMe[1].title}</h4>
        </div>
        <p class="text-xl text-[#333333]">
            {aboutMe[1].description}
        </p>
    </div>

    <!-- Div for general info location-->
    <div
        class="w-96 h-32 bg-[#E8D7F1] rounded-2xl shadow-[3px_6px_4px_0px] shadow-[#A167A5]/50 grid grid-rows-2 items-center px-7 pb-5"
    >
        <div class="flex gap-4">
            <Location />
            <h4 class="text-3xl text-[#0E273C]">{aboutMe[2].title}</h4>
        </div>
        <p class="text-xl text-[#333333]">{aboutMe[2].description}</p>
    </div>

    <!-- Div for general info calendar-->
    <div
        class="w-96 h-32 bg-[#E8D7F1] rounded-2xl shadow-[3px_6px_4px_0px] shadow-[#A167A5]/50 grid grid-rows-2 items-center px-7 pb-5"
    >
        <div class="flex gap-4">
            <Calendar />
            <h4 class="text-3xl text-[#0E273C]">{aboutMe[3].title}</h4>
        </div>
        <p class="text-xl text-[#333333]">{aboutMe[3].description}</p>
    </div>
</div>
